

#Ignore vscode AI rules
.github/copilot-instructions.md
.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.qodo
.idea/
.DS_Store
.codacy
*.html
parse_logs.csv
parsed_logs.csv
calc_failed_parse_pct.py
*.logs
*.log
cli_parse_logs.py
image
